.search-bar {
    background-color: #2E236C;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}

.search-bar .search-box {
    width: 100%;
    padding: 5px 8px;
    outline: none;
    flex: 11;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #17153B;
    background-color: #2E236C;
    color: #fff;
}

.search-bar .search-box::placeholder {
    font-style: italic;
    color: lightgray;
}

.search-bar .search-button {
    flex: 1;
    cursor: pointer;
    border-radius: 5px;
    background-color: #433D8B;
    border: 1px solid #17153B;
    color: #fff;
    padding: 5px 8px;
}